 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: url(book.jpg) no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.contianer{
    width: 96%;
    margin: 20px auto;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    border-left: 5px solid #4caf50;
    color: #fff;
    margin: 10px;
}

.book{
    width: 48%;
    float: left;
    background: rgba(0, 0, 0, 0.822);
    margin: 5px;
    padding: 10px;
    color: #fff;
    border: 1px solid #4caf50;
    transition: 0.4s ease;
}

.book:hover{
    box-shadow: 0 0 10px yellow;
}

button{
    background: none;
    border: 1px solid #4caf50;
    padding: 6px;
    color: #fff;
    float: right;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover{
    box-shadow: 0 0 10px yellow;
    color: #4caf50;
}

.BH{
    margin: 30px;
    width: 120px;
    height: 35px;
    padding: 0;
    float: none;
    background: black;
    border: 1px solid #4caf50;
}